<div class="page-header">
	<h3> Comments for post
		<span> {{ post.body }} </span>
	</h3>
</div>
<form role='form'>
  <div class='form-group'>
    <div class="input-group">
      <input ng-model="commentBody" class='form-control'>
      <span class='input-group-btn'>
        <button ng-click='addComment()' class='btn btn-default'>Add Comment</button>
      </span>
    </div>
  </div>
</form>
<ul class='list-group'>
  <li ng-repeat="comment in comments | orderBy:'-upvotes'" class='list-group-item'>
    <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(comment)"></span>
		{{comment.upvotes}} 
    <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(comment)"></span>
    <strong>@{{comment._user.username}}</strong>
    <span>{{comment.body}}</span>
  </li>
</ul>